/* ----------------------------------------------------
/* NOTE: These styles will be applied to all platforms
/* ----------------------------------------------------*/
/*General components -----------------*/
TextView { color: black; }

Button { opacity: 1; }

    Button:disabled { opacity: 0.3; }

ImageView { opacity: 1; }

    ImageView:disabled { opacity: 0.3; }

IconButton { opacity: 1; }

    IconButton:disabled { opacity: 0.3; }

    IconButton #TextView { color: white; }

PopUp { margin-top: calc("(Zebble.Device.Screen.Height - view.ActualHeight) / 2"); }

    PopUp #HeaderTitle, PopUp #Title { font-size: 20px; }

Waiting-Indicator { margin-top: calc("(Zebble.Device.Screen.Height - view.ActualHeight) / 2"); }

    Waiting-Indicator #Image { background: url(Images/icons/Spinner.gif); }

/*Dialogs ----------------*/
Dialog #Title { color: #43aaa9; font-size: 20px; }

Dialog #ButtonsRow Button { color: #43aaa9; }

    Dialog #ButtonsRow Button.primary-button { color: white; }

Toast { background: white; padding: 20px; background: black; }

    Toast #Label { color: white; }

    Toast #OKButton { color: #43aaa9; }

/*Form -------------------*/
TextInput { padding: 7px; }

Switch #Bar { background: #C8C8C8; }

Switch:checked #Bar { background: #43aaa9; }

OptionsList:vertical OptionsList-Option { margin-top: 6px; }

OptionsList OptionsList-Option #Label { color: black; }

OptionsList OptionsList-Option:checked #Label { color: #43aaa9; }

Picker { padding: 7px; border-color: #e6e6e6; }

    Picker #Caret { background: url(Images/Icons/Caret.png); }

FilePicker-Dialog #PickPhotoButton #Icon { background: url(Images/Icons/Pick-photo.png); }

FilePicker-Dialog #PickVideoButton #Icon { background: url(Images/Icons/Pick-video.png); }

FilePicker-Dialog #TakePhotoButton #Icon { background: url(Images/Icons/Take-photo.png); }

FilePicker-Dialog #TakeVideoButton #Icon { background: url(Images/Icons/Take-video.png); }

DatePicker-Cell #Label, TimePicker-Cell #Label { color: #C8C8C8; }

DatePicker-Cell:active #Label, TimePicker-Cell:active #Label { color: black; }

Slider #RangeBar { background: #C8C8C8; }

Slider #SelectedBar, Slider #Handle, Slider #UpHandle { background: #43aaa9; }

/*Navigation bar ----------------------------- */
.navbar-background { background: linear-gradient(to bottom, #43aaa9, #196e6d); }

NavigationBar IconButton { margin: 0; padding: 0; }

NavigationBar Button { padding: 0; }

NavigationBar #Title { color: white; }

NavigationBar .navbar-button { width: 42px; height: 100%; color: white; }

NavigationBar .back { color: white; }

    NavigationBar .back #Icon { background: url(Images/Icons/Back.png); margin: 0; width: 48px; padding: 10px 5px; height: 100%; }

NavigationBar .menu-icon { background: url(Images/Icons/Burger.png); margin: 0; height: 45px; }

Modal { background: white; padding: 20px; height: auto; }

MenuDisplayer { position: absolute; width: 100%; height: 100%; MenuWidth: 250px; }

    MenuDisplayer #Overlay { width: 100%; height: 100%; opacity: 0.35; background: black; }

/*Tabs --------------------- */
Tabs Tabs-Tab { background-color: transparent; }

    Tabs Tabs-Tab:active { background-color: #43aaa9; }

    Tabs Tabs-Tab #Label { color: #eeeeee; padding-top: 5px; }

/*list views ----------------*/
ListView #EmptyTextLabel { color: #C8C8C8; }

ListView .view-row { width: 20px; height: 100%; }

ListView ListViewItem { border-color: #e6e6e6; }

    ListView ListViewItem .title { font-weight: bold; margin-bottom: 10px; }

ListView #SlideIn TextView { height: 100%; margin: 0; color: white; background: #444; padding: 10px; AutoSizeWidth: calc("true"); }

    ListView #SlideIn TextView.delete-button { background: #ff4c32; }

.standard-list ListViewItem { padding: 10px; }

    .standard-list ListViewItem .icon { width: 60px; }

.standard-list ListView:lazy-loaded ListViewItem { height: 60px; }

SearchInput { margin-bottom: 5px; }

    SearchInput #TextBox { text-align: center; }

    SearchInput:focus #TextBox { text-align: left; }

/*App components -----------------*/
.module-header-title { color: #43aaa9; margin-bottom: 20px; }

.list-view .module-header-title { padding: 5px; padding-right: 20px; height: 40px; }

.header-intro { color: #888888; margin-bottom: 20px; }

.primary-button, FilePicker-Dialog IconButton { color: white; background: #43aaa9; }

.bottom-buttons-row { margin-top: 5px; margin-bottom: 5px; }

.form-field-header { padding: 7px; font-weight: bold; font-size: 16px; }

/*main menu --------------------*/
MainMenu { background: #282828; }

    MainMenu Button { color: white; height: 50px; }

    MainMenu #LogoImage { height: 90px; width: 100%; margin-bottom: 10px; margin-top: 10px; }

    MainMenu IconButton { height: 50px; border-bottom-width: 1px; border-color: #505050; color: white; }

        MainMenu IconButton #Icon { background-size: contain; margin-top: 7px; height: 25px; width: 30px; margin-left: 10px; }

Carousel-Bullet { background: #C8C8C8; }

    Carousel-Bullet:active { background: #505050; }
